{% extends "base.html" %}

{% block conteudo %}
<h1>Cadastro de Médico</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.nome_completo.label }} <br/>
        {{ form.nome_completo(size=32) }} <br/>
        {% for error in form.nome_completo.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.crm.label }} <br/>
        {{ form.crm(size=32) }} <br/>
        {% for error in form.crm.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="mb-3 form-check" class="form-select form-select-sm" aria-label="Small select example">
        {{ form.especialidade.label }} <br/>
        {{ form.especialidade() }} <br/>
        {% for error in form.especialidade.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-success">
        {{ 'Salvar Alterações' if form.nome_completo.data else form.submit.label.text }}
    </button>
   
  </form>
{% endblock %}